.loginBody {
  border: 2px solid black;
  /* padding: 3%; */
}

form {
  margin: 7%;
  text-align: left;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

form label {
  align-self: flex-start;
}

form input {
  align-self: stretch;
}

.formButton {
  display: flex;
  margin: 3%;
  align-self: center;
}

.formFooter {
  padding: 2%;
  font-size: small;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-shrink: 2;
}

.formFooter p {
  margin: 0px;
}