.App {
  display: flex;
  flex-direction: column;
}

.App_header {
  margin: 10px;
  position: fixed;
  top: 0;
  right: 0;
}

.App_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  height: 70vh;
}

.App_footer {
  margin: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
}
