.App {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.App_header {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.App_main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  /* height: 80%; */
  /* flex: 1; */
  border: 2px solid black;
}

.App_footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 10px;
}