.customizeDisplay {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}

.partSelections {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.selectFrame, .selectCore {
  display: flex;
  flex-direction: row;
  
}

.selectPart {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.selectP p {
  border: 2px solid black;
  margin: 2px;
  background: rgba(0, 0, 0, .5);
  /* display: flex;
  align-self: center; */
}

/* p{
  border: 2px solid black;
  margin: 2px;
} */

